* {
    box-sizing: border-box;
  }
  /* Add font effect for hovering over project boxes */
 a:hover {
    font-style: italic;
 } 

 /* remove underline from links */
 a:link {
     text-decoration: none;
 }

 /* setting color palette for page */
:root {
    --white: #fff;
    --gray-light: #dbe3e5;
    --gray-dark: #605f5b;
    --redish: #654632;
  }

  /* setting body as a flex box */
  body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  /* Setting header properties including a unique backgroun img  and setting as flex box*/
  header {
    display: flex;
    height: 150px;
    justify-content: flex-end;
    border-top: 1px solid var(--white);
    color: var(--gray-dark);
    padding-right: 14px;
    padding-top: 50px;
    background-image: url("../images/colorPalett.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* properties for displaying "Welcome to my page!" */
  header h1 {
    padding: 10px 5px 0px 5px;
    background: var(--white);
    opacity: 90%;
  }
  
/* setting nav as flex box */
  nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--gray-dark);
    padding: 14px 20px;
  }
  
  /* setting properties for my name */
  nav h1 {
    color: var(--gray-dark);
    background: var(--white);
    opacity: 90%

  }

  /* setting properties for nav links */
  nav p {
    padding-top: 25px;
  }

  nav a {
    color: var(--gray-light);
    padding: 0px 20px;
  }
   
  /* setting main body as flex box and setting properties */
  .info {
    display: flex;
    /* Align the child elements to the top of the parent */
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 1% auto;
  }
  
  /* properties for left hand side headings */
  .info-headings {
    display: flex;
    margin-left: 10%;
    width: 75px;
    /* height: 100%; */
    border-right-style: solid;
    border-color: var(--redish);
    justify-content: end;
    text-align: end;
    color: var(--gray-dark);
    padding-right: 10px;
  }

  /* properties for text corresponding to left hand side titles */
  .info-text {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-left: 1%;
    flex: 0 0 80%;
    line-height: 0%;
  }

  /* properties for 1st work link */
  .block {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 90%;
    border: 5px solid var(--gray-dark);
    padding: 5px;
    margin: 2px;
    height: 350px;
    line-height: 200%;
    background-image: url("../images/img2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* properties for other work links */
  #half-block1 {
    width: 45%;
    height: 175px;
    margin: 2px 1px;
    background-image: url("../images/img1.jpg");
  }
  
  #half-block2 {
    width: 45%;
    margin: 2px 1px;
    height: 175px;
    background-image: url("../images/img3.jpg");
  }

  /* Properties for project names */
  .ProjectName {
    color: var(--redish);
    background: var(--white);
    opacity: 90%;
    padding: 0px 5px;
    text-align: center;
    line-height: 1%;
  }

  /* properties for "contact me" section */
  #contactLinks {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 14px 20px;
    background-color: var(--gray-dark);
  }

  #contactLinks a {
    color: var(--gray-light);
  }
  
  /* Use nav h1 selector to add Avatar image after */
  nav h1::after {
    content: url("../images/avatar.png");
    height: fit-content;
    display: inline-block;
    margin-left: 3px;
  }
  
  /* media queries for different screen widths */
  @media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
    
    .block,
    #half-block1,
    #half-block2,
    .info-headings
     {
        width: 100%;
    }

    .info-headings {
        border-bottom-style: solid;
        border-right-style: none;
        justify-content: center;
    }

    .info {
        justify-content: center;
    }
  }
  